*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header{
	background:url(rgba(0,0,0,0.5),rgba(0,0,0,0.5"")), url ("../images/hero.jpg");
	height:800px;
	background-size:cover;
}
body{ background-color: blue;}